baseURL: "https://jmir.ml/" # if your site is in 'https', then make sure your base url isn't written using 'http' otherwise your sitemap would contain http (as opposeed to https) URLs. This would affect Google indexing of your URLs.
title: jmir.ml
paginate: 5
theme: PaperMod

enableInlineShortcodes: true
enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false
enableEmoji: true
pygmentsUseClasses: true
# googleAnalytics: UA-123-45

minify:
    disableXML: true
    # minifyOutput: true

languages:
    en:
        languageName: "English"
        weight: 1
        taxonomies:
          category: categories
          tag: tags
          series: series
        menu:
            main:
                - name: Blog Archive
                  url: archives
                  weight: 5
                - name: Search
                  url: search/
                  weight: 10
                - name: Tags
                  url: tags/
                  weight: 10
                - name: Github
                  url: https://github.com/jmir1

outputs:
    home:
        - HTML
        - RSS
        - JSON

params:
    env: production # to enable google analytics, opengraph, twitter-cards and schema.
    description: "jmir.ml - jmir's personal website"
    author: jmir
    # author: ["Me", "You"] # multiple authors

    defaultTheme: auto
    # disableThemeToggle: true
    ShowShareButtons: true
    ShowReadingTime: true
    # disableSpecial1stPost: true
    displayFullLangName: true
    ShowPostNavLinks: true
    ShowBreadCrumbs: true
    ShowCodeCopyButtons: true
    ShowRssButtonInSectionTermList: true
    ShowToc: true
    # comments: false
    images: ["papermod-cover.png"]

    profileMode:
        enabled: true
        title: "Hello there \U0001F44B"
        subtitle: "Welcome to my **personal website**! - Here you can find out all about me!"
        imageUrl: "/hdhr.png"
        imageTitle: my image
        # imageWidth: 120
        # imageHeight: 120
        buttons:
            - name: My blog
              url: archives
            - name: My projects
              url: projects

    homeInfoParams:
        Title: "Hello there \U0001F44B"
        Content: >
            Welcome to my **personal website**!
    socialIcons:
        - name: GitHub
          url: "https://github.com/jmir1"
        - name: "GitHub Sponsors"
          url: "https://github.com/sponsors/jmir1"
        - name: "Ko-fi"
          url: "https://ko-fi.com/jmir1"
        - name: AniList
          url: "https://anilist.co/user/jmir"
        - name: osu!
          title: osu!
          url: "https://osu.ppy.sh/users/18018426"
        - name: YouTube
          url: "https://www.youtube.com/@jmir1"
        - name: RSS
          url: "index.xml"

    editPost:
        URL: "https://github.com/jmir1/jmir.ml/tree/main/content"
        Text: "Suggest Changes" # edit text
        appendFilePath: true # to append file path to Edit link

    # label:
    #     text: "Home"
    #     icon: icon.png
    #     iconHeight: 35

    assets:
        disableHLJS: true
        favicon: "favicon.ico"
        favicon16x16: "favicon-32x32.png"
        favicon32x32: "favicon-32x32.png"
        apple_touch_icon: "apple-touch-icon.png"
        safari_pinned_tab: "safari_pinned_tab.svg"
        theme_color: "#404040"
        msapplication_TileColor: "#404040"

    # cover:
    #     hidden: true # hide everywhere but not in structured data
    #     hiddenInList: true # hide on list pages and home
    #     hiddenInSingle: true # hide on single page

    # fuseOpts:
    #     isCaseSensitive: false
    #     shouldSort: true
    #     location: 0
    #     distance: 1000
    #     threshold: 0.4
    #     minMatchCharLength: 0
    #     keys: ["title", "permalink", "summary", "content"]

markup:
    goldmark:
        renderer:
            unsafe: true
    highlight:
        noClasses: false
        # anchorLineNos: true
        # codeFences: true
        # guessSyntax: true
        # lineNos: true
        # style: monokai

privacy:
    vimeo:
        disabled: false
        simple: true

    twitter:
        disabled: false
        enableDNT: true
        simple: true

    instagram:
        disabled: false
        simple: true

    youtube:
        disabled: false
        privacyEnhanced: true

services:
    instagram:
        disableInlineCSS: true
    twitter:
        disableInlineCSS: true